.button_link{
    text-decoration: none;
}

.button{
    background-color: var(--main-color);
    padding:16px 24px;
    border-radius: 12px;
    font-size: 16px;

    &:hover {
        opacity: 0.9;
    }
}