.footer {
    .container {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .header_logo_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            padding: 14px 70px;
            .header_logo_title{
                color: #fff;
                margin-left: 6px;
                font-size: 20px;
            }
        }
        
        nav {
            padding: 15px 0;
            border-bottom: 1px;
            color: #fff;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 30px;
                list-style: none;
            }
        }

        .links_wrapper{
            display: flex;
            align-items: center;
            padding: 14px 10px;
            border-radius: 12px;
            border: solid var(--border-color) 1px;
            
            p {
                color: var(--text-color);
                font-size: 18px;
                margin-right: 10px;
            }

            a button {
                padding: 20px;
                border: 1px solid var(--border-color);
                border-radius: 16px;
                margin-right: 10px;
                background-image: linear-gradient(#2E2E2E, rgb(70, 70, 70));
            }
        
        }
    
    }
    
}