.section_services{

    background-repeat: no-repeat;
    .section_title_h1{
        text-align: center;
        font-size: 48px;
        color: #fff;
        padding-top: 120px;
    }
    .section_title_p{
        text-align: center;
        font-size: 18px;
        color: #fff; 
    }
}