header {
    .container {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .header_logo_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .header_logo_title{
                color: #fff;
                margin-left: 6px;
                font-size: 20px;
            }
        }
        
        nav {
            padding: 15px 0;
            border-bottom: 1px;
            color: #fff;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 30px;
                list-style: none;
            }
        }
    
    }
    
}