.section_hero {

    .container{
        min-height: 450px;
        background-image: url(../images/AbstractDesign.webp);
        background-repeat: no-repeat;
        background-position: bottom center;
        display: flex;
        flex-direction: column;
        
        .section_hero_title{
            text-align: center;
            color: #fff;
            font-size: 70px;
            margin-top: 60px;
        }

        .hero_btutton_wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #262626;
            border-radius: 12px;
            color: #fff;
            margin-top: 50px;
            padding: 30px;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .button_hero {
                background-color: rgba(51, 51, 51, 1);
                color: #fff;
                border-radius: 8px;
                pointer-events: none;
                border: none;
                font-size: 16px;
                padding: 14px 16px;
                margin: 0 10px;

                @media (max-width: 1280px) {
                    flex-direction: column;
                }

                @media (max-width: 768px) {
                    margin: 10px 0;
                }
            }
        }

       
    }  
    .hero_contact_wrapper{
        display: flex;
        justify-content: center;
        margin-top: 80px;

        .contact {
            background-color: var(--main-color);
            padding:16px 24px;
            border-radius: 12px;
            font-size: 16px;
            margin: 0 10px;
        }

        .works {
            background-color: rgba(36, 36, 36, 0.7);
            border-radius: 10px;
            color: rgba(152, 152, 154, 1);
            padding:16px 24px;
            border-radius: 12px;
            font-size: 16px;
            margin: 0 10px;
        }

    }

    .hero_button_trusted{
        background-color: rgba(26, 26, 26, 1);
        border-radius: 100px;
        color: #fff;
        display: flex;
        justify-content: center;
        padding: 20px 34px;
        margin-top: 150px;
    }
}