.process_block_wrapper {
    padding: 30px 20px;
    border: 1px var(--border-color) solid;

    .number {
        color: #D8FF99;
        font-size: 130px;
    }

    .title {
        color: #D8FF99;
        font-size: 40px;
        margin: 10px 10px;
    }

    .description {
        color: #98989A;
        font-size: 18px;
        width: 690px;
        margin: 0 0;
    }
}