.questions_section {
    .container {
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "one five"
            "two six"
            "three seven"
            "four eight";

        .questions_wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 20px 20px;
            border-radius: 8px;
            margin-top: 24px;
            min-width: 800px;
            justify-content: flex-start;
            align-items: center;

            &.active {
                flex-direction: column;
            }

            .questions_wrapper_close {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                min-width: 800px;
            }

            .questions_wrapper_text {
                h1 {
                    color: #C5FF66;
                }
            }

            h1 {
                color: #FFFFFF;
                font-size: 18px;
                min-width: 524px;
                text-wrap: wrap;
            }

            .x {
                color: #C5FF66;
            }

            p {
                color: #E6E6E6;
                font-size: 18px;
            }

            .p {
                margin-top: 18px;
            }
        }

        &:nth-child(1) {
            grid-area: one;
        }

        &:nth-child(2) {
            grid-area: two;
        }

        &:nth-child(3) {
            grid-area: three;
        }

        &:nth-child(4) {
            grid-area: four;
        }

        &:nth-child(5) {
            grid-area: five;
        }

        &:nth-child(6) {
            grid-area: six;
        }

        &:nth-child(7) {
            grid-area: seven;
        }

        &:nth-child(8) {
            grid-area: eight;
        }
    }

}