.section_services{
    .container {
        min-height: 366px;
        background-repeat: no-repeat;
        .section_title_h1{
        text-align: center;
        font-size: 48px;
        color: #fff;
        padding-top: 100px;
        }
        
        .section_title_p{
            text-align: center;
            font-size: 18px;
            color: #fff;    
        }
    }
    
}