.squareup_block{
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "one two"
        "three four"
        "five six";

        h1{
            color: #D8FF99;
            font-size: 28px;
        }
        .h1{
            color: #fff;
            font-size: 20px;
        }
        p{
            color: #E6E6E6;
            font-size: 18px;
        }
        .p{
            margin-top: 24px;   
        }

        .squareup_block_wrapper{
            border: 1px var(--border-color) solid;
            padding: 100px 60px;

            &:nth-child(1) {
                grid-area: one;
            }
        
            &:nth-child(2) {
                grid-area: two;
            }
            &:nth-child(3) {
                grid-area: three;
            }
            &:nth-child(4) {
                grid-area: four;
            }
            &:nth-child(5) {
                grid-area: five;
            }
            &:nth-child(6) {
                grid-area: six;
            }
            
            .squareup_block_wrapper_button{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                background-color: #262626;
                padding: 20px 20px;
                border-radius: 8px;
                margin-top: 24px;
                color: #fff;
            }

        }

    }

}


