.section_services{
    .container{
       .img{
        padding-top: 50px;
        display: flex;
        justify-content: center;
        }
    }
    .button{
        
        display: flex;
        justify-content: center;
    }
    h1{
        
    }
    }
    