.section_services{
    .container{
       .img{
        padding-top: 50px;
        display: flex;
        justify-content: center;
        }
    }
    .button{
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    .section_title_p{
        display: flex;
        justify-content: center;
        width: 800px;
        
    }
}
    