:root{

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;

  /**  Основные цвета */
  --main-color: #9EFF00;
  --bg-color: #1E1E1E;
  --border-color: #262626;
  --text-color: #FFFFFF;

  /**  Шрифты */
  --font-family-title: "Open Sans";
}