<section class="audio">
    <div class="container_audio">
        <img src="../assets/images/Vector.webp" alt="Vector" class="images_audio">
        <img src="../assets/images/spotify.webp" alt="spotify" class="images_audio">
        <img src="../assets/images/zoom.webp" alt="zoom" class="images_audio">
        <img src="../assets/images/slack.webp" alt="slack" class="images_audio">
        <img src="../assets/images/amazon.webp" alt="amazon" class="images_audio">
        <img src="../assets/images/adobe.webp" alt="adobe" class="images_audio">
    </div>
</section>