<section class="block_seti">
    <div class="container">
        <div class="button_connected">
            <p>Operating Days</p>
            <button class="btn">Monday to Friday</button>
        </div>
        <div class="links_wrapper">
                <p>Stay Connected</p>
                <a href="#">
                    <button>
                        <img src="./assets/images/fasebook.webp" alt="">
                    </button>
                </a>
                <a href="#">
                    <button>
                        <img src="./assets/images/ptichka.webp" alt="">
                    </button>
                </a>
                <a href="#">
                    <button>
                        <img src="./assets/images/in.webp" alt="">
                    </button>
                </a>
        </div>
    </div>
</section>