<section class="section_email_number_geo">
    <div class="container">
        <div class="contact_div">
            <div class="contact_div_wrapper">
                <img src="./assets/images/Subtract.webp" alt="">
                <p>hello@squareup.com</p>
            </div>
            <div class="contact_div_wrapper">
                <img src="./assets/images/telephone.webp" alt="">
                <p>+91 91813 23 2309</p>
            </div>
            <div class="contact_div_wrapper">
                <img src="./assets/images/geo.webp" alt="">
                <p>Get Location</p>
            </div>
        </div>
    </div>
</section>