<section class="section_four_design_block">
    <div class="container">
        <div>
            <img src="./assets/images/21.webp" alt="image">
            <h1>Intuitive and Visually Appealing Interface Design</h1>
        </div>
        <div>
            <img src="./assets/images/22.webp" alt="image">
            <h1>Custom Iconography and Illustration</h1>
        </div>
        <div>
            <img src="./assets/images/23.webp" alt="image">
            <h1>Typography and Color Palette Selection</h1>
        </div>
        <div>
            <img src="./assets/images/24.webp" alt="image">
            <h1>Responsive Design for Various Devices</h1>
        </div>
    </div>
</section>