<section class="section_four_design_block">
    <div class="container">
        <div>
            <img src="./assets/images/91.webp" alt="image">
            <h1>Test Planning and Execution</h1>
        </div>
        <div>
            <img src="./assets/images/92.webp" alt="image">
            <h1>Functional and Usability Testing</h1>
        </div>
        <div>
            <img src="./assets/images/93.webp" alt="image">
            <h1>Performance and Security Testing</h1>
        </div>
        <div>
            <img src="./assets/images/94.webp" alt="image">
            <h1>Bug Tracking and Issue Resolution</h1>
        </div>
    </div>
</section>