<section class="section_four_design_block">
    <div class="container">
        <div>
            <img src="./assets/images/71.webp" alt="image">
            <h1>Requirements Gathering and Analysis</h1>
        </div>
        <div>
            <img src="./assets/images/72.webp" alt="image">
            <h1>Project Roadmap and Timeline Development</h1>
        </div>
        <div>
            <img src="./assets/images/73.webp" alt="image">
            <h1>Resource Allocation and Task Assignment</h1>
        </div>
        <div>
            <img src="./assets/images/74.webp" alt="image">
            <h1>Risk Assessment and Mitigation Strategies</h1>
        </div>
    </div>
</section>