<section class="section_four_design_block">
    <div class="container">
        <div>
            <img src="./assets/images/11.webp" alt="image">
            <h1>User Research and Persona Development</h1>
        </div>
        <div>
            <img src="./assets/images/12.webp" alt="image">
            <h1>Information Architecture and Wireframing</h1>
        </div>
        <div>
            <img src="./assets/images/13.webp" alt="image">
            <h1>Interactive Prototyping and User Testing</h1>
        </div>
        <div>
            <img src="./assets/images/14.webp" alt="image">
            <h1>UI Design and Visual Branding</h1>
        </div>
    </div>

</section>