<section class="section_four_design_block">
    <div class="container">
        <div>
            <img src="./assets/images/41.webp" alt="image">
            <h1>Front-End Development (HTML, CSS, JavaScript)</h1>
        </div>
        <div>
            <img src="./assets/images/42.webp" alt="image">
            <h1>Back-End Development (PHP, Python, Ruby)</h1>
        </div>
        <div>
            <img src="./assets/images/43.webp" alt="image">
            <h1>Content Management System (CMS) Development (WordPress, Drupal)</h1>
        </div>
        <div>
            <img src="./assets/images/44.webp" alt="image">
            <h1>E-Commerce Platform Development (Magento, Shopify)</h1>
        </div>
    </div>
</section>