<section class="section_four_design_block">
    <div class="container">
        <div>
            <img src="./assets/images/81.webp" alt="image">
            <h1>Iterative Development and Sprints</h1>
        </div>
        <div>
            <img src="./assets/images/82.webp" alt="image">
            <h1>Scrum or Kanban Methodology Implementation</h1>
        </div>
        <div>
            <img src="./assets/images/83.webp" alt="image">
            <h1>Regular Progress Updates and Demos</h1>
        </div>
        <div>
            <img src="./assets/images/84.webp" alt="image">
            <h1>Continuous Improvement and Feedback Incorporation</h1>
        </div>
    </div>

</section>