<section class="section_four_design_block">
    <div class="container">
        <div>
            <img src="./assets/images/61.webp" alt="image">
            <h1>Enterprise Software Development</h1>
        </div>
        <div>
            <img src="./assets/images/62.webp" alt="image">
            <h1>Custom Web Application Development</h1>
        </div>
        <div>
            <img src="./assets/images/63.webp" alt="image">
            <h1>Integration with Third-Party APIs and Systems</h1>
        </div>
        <div>
            <img src="./assets/images/64.webp" alt="image">
            <h1>Legacy System Modernization and Migration</h1>
        </div>
    </div>

</section>