 <header class="header">
    <div class="container">
        <div class="header_logo_wrapper">
            <img src="@@img.webp" alt="@@alt" class="header_logo_img" width="60" height="60">
            <span class="header_logo_title">@@title</span>
        </div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Services</li>
                <li>Work</li>
                <li>Process</li>
                <li>About</li>
                <li>Careers</li>
            </ul>
        </nav>        @@include('./_button.html', {
            "href": "#",
            "text": "Contact Us",
        })
    </div>
</header>