 <header class="header">
    <div class="container">
        <div class="header_logo_wrapper">
            <img src="@@img.webp" alt="@@alt" class="header_logo_img" width="60" height="60">
            <span class="header_logo_title">@@title</span>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="servis.html">Services</a></li>
                <li><a href="work.html">Work</a></li>
                <li><a href="process.html">Process</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="careers.html">Careers</a></li>
            </ul>
        </nav>        @@include('./_button.html', {
            "href": "contact.html",
            "text": "Contact Us",
        })
    </div>
</header>