<section class="section_hero">
    <div class="container">
        <h1 class="section_hero_title">@@title</h1>
        <div class="hero_btutton_wrapper">
            <p class="For">For</p>
            <button class="button_hero">Startups</button>
            <button class="button_hero">Enterprise leaders</button>
            <button class="button_hero">Media & Publishers</button>
            <button class="button_hero">Enterprise leaders</button>
            <p class="and">and</p>
            <button class="button_hero">Social Good</button>
        </div>

        <div class="hero_contact_wrapper">
            <button class="works">Our Works</button>
            <button class="contact">Contact Us</button>
        </div>

        <button class="hero_button_trusted">Trusted By 250+ Companies</button>
    
    </div>

</section>