<section class="section_opros">
    <div class="container">
        <div class="container_opros">
            <div class="div_opros">
                <div>
                    <h1>@@title</h1>
                    <p>@@description</p>
                </div>
            </div>
            <div class="div_opros">
                <div>
                    <h1>Email</h1>
                    <p>Type here</p>
                </div>
            </div>
        </div>
        <div class="div_opros_wrapper_1"> 
            <div class="div_opros_wrapper">
                <h1>Why are you contacting us?</h1>
                <div class="design">
                    <label for=""><input type="checkbox">Web Design</label>
                    <label for=""><input type="checkbox">Collaboration</label>
                </div> 
                <div class="design_div">
                    <label for=""><input type="checkbox">Mobile App Design</label>
                    <label for=""><input type="checkbox">Others</label>         
                </div>
            </div>
        </div>
        <div class="div_opros_wrapper_1"> 
            <div class="div_opros_wrapper">
                <h1>Your Budget</h1>
                <p>Slide to indicate your budget range</p>
                <input type="range">
            </div>
        </div>
        <div class="div_opros_wrapper_1"> 
            <div class="div_opros_wrapper">
                <h1>Your Message</h1>
                <div class="div_p">
                    <p><u>Type here</u></p>
                </div>
            </div>
        </div>
        <button class="button">Submit</button>
    </div>        
</section>