<section class="section_opros">
    <div class="container">
        <div class="container_opros">
            <div class="div_opros">
                <div>
                    <h1>@@title</h1>
                    <p>@@description</p>
                </div>
            </div>
            <div class="div_opros">
                <div>
                    <h1>Email</h1>
                    <p>Type here</p>
                </div>
            </div>
        </div>
        <div class="div_opros_wrapper_1">
            <div class="div_opros_wrapper">
                <h1>Why are you contacting us?</h1>
                <div class="design">
                    <div>
                        <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" name="web_design">
                            <label for="web_design">Web Design</label>
                        </div>
                        <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" name="collaboration">
                            <label for="collaboration">Collaboration</label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" name="web_design">
                            <label for="web_design">Mobile App Design</label>
                        </div>
                        <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" name="collaboration">
                            <label for="collaboration">Others</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="div_opros_wrapper_1">
            <div class="div_opros_wrapper">
                <h1>Your Budget</h1>
                <p>Slide to indicate your budget range</p>
                <input type="range" class="range">
            </div>
        </div>
        <div class="div_opros_wrapper_1">
            <div class="div_opros_wrapper">
                <h1>Your Message</h1>
                <div class="div_p">
                    <p><u>Type here</u></p>
                </div>
            </div>
        </div>
        <button class="button">Submit</button>
    </div>
</section>