<section class="section_opros">
    <div class="container">
        <div class="container_opros">
            <div class="div_opros">
                <div>
                    <h1>@@title</h1>
                    <p>@@description</p>
                </div>
            </div>
            <div class="div_opros">
                <div>
                    <h1>Email</h1>
                    <p>Type here</p>
                </div>
            </div>
        </div>
        <div class="div_opros_wrapper_1"> 
            <div class="div_opros_wrapper">
                <h1>Why are you contacting us?</h1>
                <div class="design">
                    <div class="design_div">
                        <img src="../assets/images/galka.webp" alt="">
                        <p class="p_p">Web Design</p>
                    </div>
                    <div class="design_div">
                        <img src="../assets/images/cvadrat.webp" alt="">
                        <p class="p_p">Collaboration</p>
                    </div>                    
                </div>
                <div class="design">
                    <div class="design_div">
                        <img src="../assets/images/cvadrat.webp" alt="">
                        <p class="p_p">Mobile App Design</p>
                    </div>
                    <div class="design_div">
                        <img src="../assets/images/cvadrat.webp" alt="">
                        <p class="p_p">Others</p>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="div_opros_wrapper_1"> 
            <div class="div_opros_wrapper">
                <h1>Your Budget</h1>
                <p>Slide to indicate your budget range</p>
                <img src="../assets/images/Range.webp" alt="">
            </div>
        </div>
        <div class="div_opros_wrapper_1"> 
            <div class="div_opros_wrapper">
                <h1>Your Message</h1>
                <div class="div_p">
                    <p><u>Type here</u>_______________________________________________________________________________________________________</p>
                    <p>________________________________________________________________________________________________________________</p>
                </div>
            </div>
        </div>
        <button class="button">Submit</button>
    </div>        
</section>